body {
  background-image: url("https://images6.alphacoders.com/718/thumb-1920-718319.png"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff; 
}